@import "tailwindcss";

.image-overlay{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0) 60%,rgba(0,0,0,1));  
}

.download-wrap{
    background:linear-gradient(0deg,rgb(244, 216, 221) 10%,white 50%);
    box-shadow: 0px 1px 30px #ededed;
}