.footer{
     width:100%;
     margin-bottom: 100px;
}
#top-logo img{
    width:10%;
    padding-left: 40px;
}
#bottom-info{
    margin-top:20px;
    display: flex;
    gap:1rem
}
#download{
    /* border:1px solid black; */
    width:20%;
    padding:5px 50px;
    
}
#download span{
    display: flex;
    gap:10px;
    margin:20px 0px;
}
#download span button{
    padding:10px;
    font-weight: bold;
    background-color: #fff;
    border:1px solid #6d6c6c;
    border-radius: 5px;
    color:#333;
    cursor: pointer;
}
.info-container{
    width:80%;
    display: flex;
    gap:20px;
    margin-right:50px;
}
#title{
    color: #6d6d6d;
    margin-bottom: 10px;
}
.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.ul li{
    list-style: none;
    padding:10px 0px;
    color:#222;
    border-radius: 5px;
    cursor: pointer;
}
.ul li:hover{
    background-color: #f3f3f3;
}


.flex{
    flex:1;
}