* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.logo img {
    width: 130px;
}

.link-container ul {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.link-container ul li {
    list-style: none;
    padding: 6px;
}

.link-container ul li:hover {
    border-radius: 5px;
    background-color: #f3f3f3;
}

.link-container ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.sign-container {
    width: 10rem;
    display: flex;
    gap: 10px;
}

.sign-container .btn {
    width: 50%;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid #777;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 15px;
    font-weight: 10px;
    padding: 0px 8px;
}

.sign-container .sign-in:hover {
    border-radius: 5px;
    background-color: #edecec;
}

.sign-container .log-in {
    background-color: rgb(121, 60, 226);
    color: white;
}

.main {
    width: 100%;
    padding: 3rem 3rem;
    background: linear-gradient(180deg, #6548EE 0%, #9B8BFF 20%, #C4E0FF 40%, #e0edfc 60%, #fefeff 100%);
}

.Heading {
    width: 100%;
    height: 22rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

#left-block {
    padding-top: 6rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 2rem;
    color: white;
}

#left-block h1 {
    font-size: 3.2rem;
}

#left-block button {
    width: 40%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#right-block {
    width: 50%;
}

#right-block img {
    width: 100%;
    border-radius: 1.5rem;
}

/* ********Template******* */
.template {
    width: 100%;
    padding: 6rem 0rem 0rem;
}

.template h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
}


.row {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.card {
    font-size: 1rem;
}