* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    background-color: White;
    color: #212121;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    gap: 20px;
    /* justify-content: space-around; */
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 4;
    padding:0px 3rem;
}

.header .logo #logo {
    width: 80px;
}

.header .navlink-container ul {
    font-weight: bold;
    font-size: 13px;
    width: 35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: black;
}
.sup{
    color:rgb(254, 93, 93);
    font-size: 9px;
}
#search-bar{
    display: flex;
    align-items: center;
    border:1px solid black;
    width: 35rem;
    border:1px solid #f0eeee;
    border-radius: 5px;
}
#search-bar input{
    height: 2.5rem;
    width: 100%;
    padding-left: 10px;
    font-size: 13px;
    border:none;
    outline:none;
    background: transparent;
}
.search{
    margin-left: 8px;
    font-size: 18px;
}
/* #search-bar #search{
    position: relative;
    width: 35rem;
    height: 2.5rem;
    outline: none;
    border: none;
    padding-left: 45px;
    padding-right: 10px;
    font-size: 1rem;
    
    border-radius: 0.5rem;
}

#search-bar img {
    position: absolute;
    left:47rem;
    top: 2.2rem;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2rem;
    z-index: 3;
} */

#profile-bar {
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
}
#profile-bar span img{
    width:30px;
}
#profile-bar span p{
    font-weight:bold;
    font-size: 12px;
}

